.carousel-wrp {
  position: relative;

  .slider-arrow {
    position: absolute;
    z-index: $zindex_arrow;
    top: calc(50% - 40px);
    width: 100%;
    display: flex;
    justify-content: center;
  }

}

.slider-arrow {
  button {
    border: 0;
    background: transparent;
    outline: none;
    margin: 0 135px;
    i {
      font-size: 50px;
      color: $primary
    }
  }
}


.main-product-carousel {
  max-width: 1200px;
  margin: 0 auto;
 img {
   width: 100%;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   transition: all .5s;
 }

  .slick-center {
    & img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
    }
  }
}

.slick-center {
  .carousel-box {
    transition: all .5s;
    opacity: 1;

  }
}


@media (max-width: 768px) {
  .carousel-wrp {
    .slider-arrow {
      justify-content: space-between;

      button {
        margin: 0;
      }
    }
  }

  .carousel-box {
    position: static !important;
  }
}
