footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary;
  color: $white;
  padding: 50px 15px;

  img {
    max-width: 165px;
    width: 100%;
  }
}
