.product-info {
  margin: 30px 0;
  h3 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: bold;
    margin-right: 10px;
  }

  span {
    position: relative;
    top: 2px;
    font-size: 16px;
    font-weight: 400;
  }
}

.product-form {
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  select {
    width: 100%;
  }

  & .btn {
    width: 100%;
    padding: 12px 15px;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.product-form .form-group {
  //max-width: 220px;
}

.product-form select {
  color: $black;
  background-color: #f1f1f1;
  border-color: transparent;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .25s;
  margin-bottom: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    background-color: #fff;
    border-color: #f5dd46;
    box-shadow: none;
  }
}

.price-wrp {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.price-wrp__title {
  //margin-bottom: 10px;
  margin: 0;
}

.price-wrp__val {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.price-wrp__val span {
  font-size: 16px;
  font-weight: 400;
}

.product-container {
  .product-gallery {
    img {
      object-fit: cover;
    }

  }
}

@media (max-width: 993px) {
  .product-info {
    h3 {
      flex-direction: column;
      align-items: self-end;

      span {
        margin-top: 10px;
      }
    }
  }
  .product-container {
    padding-top: 0;
  }

  .product-form {
    margin-top: 40px;
  }
}


@media (max-width: 778px) {
  .product-info {
    margin: 20px 0;
  }
  .product-container {
    .product-gallery {
      padding: 0;

    }
  }

  .product-form {
    margin-top: 40px;
  }

  .price-wrp {
    margin: 0;
  }

  .product-form .form-group {
   max-width: 100%;
  }
}

