@import "resset";
@import '../styles/themeColors.scss';

html, body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: $font_size_16;
}


main {
  & > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 0;

    &.gallery {
      min-height: 100%;
      padding: 0;
    }
  }
}

.like-us {
  padding: 100px 0;
}

h2 {
  .wow-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 100px;

    &_primary {

    }
  }
}

.main-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;

  &_primary {
    color: $primary !important;
  }
}

.wow-bg {
  background-color: $bgColor;
  color: $textColor;

  h2 {
    color: $textColor;
  }
}

.wow-bg-invert {
  background-color: $bgColorInvert;
  color: $textColorInvert;

  h2 {
    color: $textColorPrimary;
  }
}

.separator {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: $primary;
  margin-bottom: 60px;

  &::before {
    position: absolute;
    left: 15%;
    top: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 35px 0 35px;
    border-color: $primary transparent transparent transparent;
  }
  &::after {
    position: absolute;
    left: calc(15% + 4px);
    top: -1px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 31px 31px 0 31px;
    border-color: $white transparent transparent transparent;
  }
}

.select-arrow {
  position: relative;
  & i {
    position: absolute;
    top: 11px;
    right: 13px;
    z-index: 10;
  }
}

@import "button";
@import "components/header";
@import "components/hamburger";
@import "components/banner";
@import "components/for-what";
@import "components/faq";
@import "components/contacts";
@import "components/footer";
@import "components/carousel";
@import "components/product";
@import "components/modal";
@import "components/thank";
@import "components/tabs";

@media (max-width: 993px) {
  .like-us {
    padding-bottom: 0;
  }
}



@media (max-width: 576px) {
  main {
    & > article {
      min-height: initial;
      padding: 80px 0;
    }
  }

  .main-title {
    //font-size: 18px;
    margin-bottom: 40px;
  }
}
