$primary: #ffc600;
$primaryLight:  #ffe237;
$primaryDark: #f5b419;

$secondary: #565f73;
$secondaryLight: '';
$secondaryDark: '';

$black: #000;
$white: #fff;

$textColorPrimary: $primary;
$textColorInvert: $white;
$textColor: $black;

$bgColor: $white;
$bgColorInvert: $secondary;


$border_radius: 8px;
$font_size_10: 10px;
$font_size_12: 12px;
$font_size_14: 14px;
$font_size_16: 16px;


$transition_normal: all 0.25;
$transition_slow: all 0.5;


$zindex_header: 20;
